table {
    background-color: rgb(238, 211, 153)
    ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    height:50%;

}
th{
    background-color: rgb(197, 253, 249);
    ;
    font-size: 18px;
    color: blue;
    text-align: left;
}
input{
    border: inset;
}
textarea{
    border: inset;
}
select{
    width: 40%;
    border: inset;
}
td{
    color: blue;
}
#gender{
    color: black;
}
#send, #reset{
    border: outset;
}
